<div>
  <div class="homeBox fluid-container jumbotron">
    <div class="row">
      <div class="col-12">
<h1>
        Start taking control of your finances!
</h1>
      </div>
     
      <div class="col-12">
        <button type="button" class="btn btn-lg btn-warning" id="startbtn">Buzz</button>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-12">
<p class="homeBox2">
        Ready to plan for your financial future? We're here to help. Our easy to use tools will help you build your
        budget and view your expenses at a glance. Start your financial freedom journey today!
</p>
      </div>

    </div>


  </div>
</div>

<script src="./js/homepage.js"></script>