<div class="homebackground">
<div class="containter" id="hcontainer">
  <div class="row">
    <div class="col-md-10">
      <h1 id="hlanding">
        Start taking control of your finances!
      </h1>
    </div>
    <div class="col-md-3" id="startbtn">
      <button type="button" class="btn btn-success">
        Start Here !
      </button>
    </div>
    <div class="row" id="homep">
      <p>
        Ready to plan for your financial future? We're here to help. Our easy to use tools will help you build your budget and view your expenses at a glance. Start your financial freedom journey today!
      </p>
    </div>
  </div>
</div>
</div>

<script src="./js/homepage.js"></script>