<div >
  <div class="container"  >
    <div class="row">
      <div class="col-sm-10">
       
          Start taking control of your finances!
       
      </div>
      <div class="col-sm-2" id="startbtn">
        <button type="button" class="btn btn-success">
          Start Here !
        </button>
      </div>

    </div>

    <div class="row" >
      <div class="col-sm-12">
        
          Ready to plan for your financial future? We're here to help. Our easy to use tools will help you build your
          budget and view your expenses at a glance. Start your financial freedom journey today!
         
      </div>

    </div>


  </div>
</div>

<script src="./js/homepage.js"></script>