<div class="row">
  <div class="col-auto">
    <h2 class="fw-bold">
      Welcome!
      <div class="col-md-2">
      <button type="button" class="btn btn-success" id='budgetBtn'>
        Add Expenses/Income
      </button>
    </div>
    </h2>
  </div>
</div>
<div id="pcontainer" class="container rounded bg is-success">
  <h2 class="fw-bold">
    Monthly Balance Remaining
  </h2>
  <p>
<<<<<<< HEAD
    $Balance
    
=======
    $1900
>>>>>>> 2f8a34cc9f63b75943be28064da5e2ed50461fa9
  </p>
  <br />
  <div class="row">
    <div class="col-md-4">
      <class class="fw-bold">
        Income total
<<<<<<< HEAD
        <br>
        ${{totalIncomes}}
      </class>
=======
      </h5>
      <p>
        $3150
        {{{totalHousing}}}
      </p>
>>>>>>> 2f8a34cc9f63b75943be28064da5e2ed50461fa9
      <br />
      <h5 class="fw-bold">
        Expense total
      </h5>
      <p>
<<<<<<< HEAD
        ${{totalExpenses}}
=======
        $1250
>>>>>>> 2f8a34cc9f63b75943be28064da5e2ed50461fa9
      </p>
    </div>
    <div class="col-md-4">
       <canvas id ="myChart"></canvas>
    </div>
  </div>
</div>
    




<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js'></script>
<script src="./js/myBudget.js"></script>
