body {
    background-color: rgb(243, 239, 217);
    font-family: 'libre baskerville', 'Helvetica Neue', Arial, sans-serif;
}

header {

    text-align: Center;
    background-color: rgb(156, 211, 156);
}

header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;

}

#main-nav {
  text-align: right;
  color: rgb(0, 0, 0);
  
}

#main-nav a:hover {
  color: white;
}


.financialBuzz {
  font-family: 'Open Sans', sans-serif;
}


 .financialBuzz:hover {
 color: white;
}


header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
 


footer {
  font-weight: bold;
  text-align: Center;
  background-color: rgb(156, 211, 156);
  height: 60px; 
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

footer a:hover {
  color:white;
}

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
  }

  .no-button:hover {
    color: white;
  }

  .dollar-amount {
    color: #606605;
    font-weight: bold;
    margin-left: -5px;
  }
  
.beeLogo {
  height: 50px;
  width: 50px;
}

.loginHeader {
    position: absolute;
    right: 30px;
    top: 25px;

}

.loginHeader:hover {
  color: white;
}


  #pcontainer{
      position: relative;
      margin-top: 80px;
      background:linear-gradient(rgb(156, 211, 156),rgb(224,224,224),rgb(243, 239, 217));
  }

  #hlanding {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 45px;
    text-align: center;

  }

  #hcontainer{
    width: 598px;
    position: absolute;
    margin-top: 60px;
    margin-left: 100px;

  }

  #homep {
    margin-left: 50px;
    font-size: 19px;
  }

  #startbtn{
    position: relative;
    margin-left: 825px;
    font-family: 'Source sans pro';
    border-radius: 12px;
  }

  #budgetBtn{
    position: relative;
    left: 470px;
    border: 3px solid;
    font-family: 'Source sans pro';
    border-radius: 12px;
  }

  .homebackground {
    width: 640px;
    height: 275px;
    background:linear-gradient(rgb(224,224,224),rgb(243, 239, 217));
  }

  .navbar-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }

  .loginheaders {
    margin-left: 132;
    font-weight: bold;
  }

  .loginBtn {
    margin-top:30;
    margin-left:140;
    font-family: 'Source sans pro';
    border-radius: 12px;
    width:75px;
  }

  .signupBtn {
    margin-top:30;
    margin-left: 143px;
    font-family: 'Source sans pro';
    border: 3px solid;
    border-radius: 12px;
  }

  .login-container {
    margin-left: 175;
  }